@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Fauna+One&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.app {
  margin: auto;
}

hr {
  border: none;
  height: 1px;
  background-color: #ccc;
  margin: 20px 0;
}

hr:before {
  content: "";
  display: inline-block;
  width: 30%;
  height: 1px;
  background-color: #ccc;
  vertical-align: middle;
  margin-right: 10px;
}

hr:after {
  content: "";
  display: inline-block;
  width: 30%;
  height: 1px;
  background-color: #ccc;
  vertical-align: middle;
  margin-left: 10px;
}

.container {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  margin-top: 60px;
}

.image {
  width: 50%;
  max-width: 400px;
  height: auto;
  margin-right: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  margin-left: 10px;
}

.info {
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.para {
  font-size: 16px;
  line-height: 1.5;
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 5px;
  text-align: justify;
}

.name_category {
  display: flex;
  justify-content: space-between;
}

h2 {
  font-size: 24px;
  font-weight: bold;
}

.para {
  display: block;
  font-size: 16px;
  margin-top: 10px;
}

.btn_cart {
  background-color: #222222;
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease-out;
  width: 100%;
}

.btn:hover {
  background-color: #ddd;
}

.subscribe {
  padding: 10px;
}
.subscribe:hover {
  cursor: pointer;
}
.divider {
  width: 1px;
  height: 25;
}
.footer {
  background-color: #3f121252;
  margin-top: 70px;
  padding: 40px 0;
}
.footer-info {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: clamp(20px, 30px, 40px);
}
.footer-copywrite {
  background-color: rgba(0, 0, 0, 0.596);
  position: relative;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  color: white;
  margin: 0;
  padding: 0;
}
.footer {
  padding-bottom: 0;
  /* position: absolute;
  bottom: 0; */
}

.zoom:hover {
  transform: scale(1.04);
}

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;

  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.75rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 2.75rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/*
=============== 
Pagination
===============
*/
.section-title {
  text-align: center;
  margin: 4rem 0 6rem 0;
}
.underline {
  width: 8rem;
  height: 0.25rem;
  background: var(--clr-primary-5);
  margin: 0 auto;
}
.followers {
  width: 90vw;
  max-width: var(--max-width);
  margin: 5rem auto;
}
.container {
  display: grid;
  gap: 2rem;
  margin-bottom: 4rem;
}
@media screen and (min-width: 576px) {
  .container {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}
.card {
  background: var(--clr-white);
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
  padding: 2rem 3.5rem;
  text-align: center;
}
.card img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 0.75rem;
}

.card h4 {
  margin-bottom: 1.5rem;
  font-size: 0.85rem;
  color: var(--clr-grey-5);
}

.btn {
  padding: 0.35rem 0.75rem;
  letter-spacing: 1.6px;
  font-size: 0.75rem;
  color: var(--clr-white);
  background: var(--clr-primary-5);
  border-radius: var(--radius);
  border-color: transparent;
  text-transform: uppercase;
  transition: var(--transition);
  cursor: pointer;
}

.btn-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.page-btn {
  width: 2rem;
  height: 2rem;
  background: var(--clr-primary-7);
  border-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  margin: 0.5rem;
  transition: var(--transition);
}
.active-btn {
  background: var(--clr-primary-1);
  color: var(--clr-white);
}
.prev-btn,
.next-btn {
  background: transparent;
  border-color: transparent;
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  margin: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}

@media screen and (min-width: 775px) {
  .btn-container {
    margin: 0 auto;
    max-width: 700px;
  }
}

.loading-animation {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-bar {
  width: 8px;
  height: 35px;
  margin: 0 4px;
  background-color: #000;
  animation: loading 1s ease-in-out infinite;
}

.loading-bar:nth-child(1) {
  animation-delay: -0.9s;
}

.loading-bar:nth-child(2) {
  animation-delay: -0.6s;
}

.loading-bar:nth-child(3) {
  animation-delay: -0.3s;
}

.loading-bar:nth-child(4) {
  animation-delay: 0s;
}

@keyframes loading {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1, 3);
  }
  40% {
    transform: scale(1);
  }
}
.carousel .slider-wrapper {
  margin-top: 70px;
}
.carousel .slider-wrapper {
  overflow: hidden;
  margin: auto;
  width: 100%;
  transition: height 0.15s ease-in;
  margin-top: 70px;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.Heading {
  font-size: 28px;
  margin-bottom: 20px;
  text-align: center;
}

.login_container {
  width: 400px;
  background-color: #fff;
  border-radius: 5px;
  padding: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.login_input {
  margin-bottom: 20px;
}

.login_input input[type="email"],
.login_input input[type="password"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
}

.login_input input[type="email"]:focus,
.login_input input[type="password"]:focus {
  border-color: #007bff;
}

.btn {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}

.btn:hover {
  background-color: #0056b3;
}

.form-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  font-size: 14px;
}

.form-input:focus {
  border-color: #007bff;
}

.navigate {
  margin-top: 20px;
  color: blue;
}

.link {
  color: red;
  text-decoration: underline;
  cursor: pointer;
  padding: 10px;
  font-weight: bold;
}

.popup {
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  /* width: 400px; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 20px;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 25%;
}

.text {
  color: #333;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.blur-body {
  filter: blur(5px); /* Apply the blur effect */
  pointer-events: none; /* Prevent interaction with the body content */
}

.title {
  margin-top: 70px;
  color: #333; /* Set the text color to dark gray */
  font-size: 24px; /* Set the font size to 24 pixels */
  font-weight: bold; /* Set the font weight to bold */
  text-align: center; /* Center align the text */
  text-transform: uppercase; /* Convert the text to uppercase */
}

.btn_1 {
  margin-top: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
}

.btn_1:hover {
  background-color: #45a049;
}

.button_com {
  display: flex;
  /* justify-content: center; */
  margin-top: 20px;
}

.button_com .MuiIconButton-root {
  margin: 0 10px;
  padding: 12px; /* Adjust the padding as desired */
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.button_com .MuiIconButton-root:hover {
  background-color: #f5f5f5;
}

.button_com .MuiSvgIcon-root {
  font-size: 40px; /* Adjust the font-size as desired */
  color: #888888;
}

.choose {
  display: inline-block;
  padding: 10px;
  background-color: #f2f2f2;
  color: #333;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  cursor: pointer;
}

.choose:hover {
  background-color: #e0e0e0;
}

.choose:focus {
  outline: none;
  border-color: #555;
}

.product {
  display: flex;
  align-items: center;
  padding: 16px;
  background-color: #f1f1f1;
  border-radius: 8px;
  margin-bottom: 16px;
}

.product-image {
  margin-right: 16px;
}

.productImg {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
}

.names {
  /* flex-grow: 0; */
  margin-right: 16px;
  display: inline-block;
  width: 38%;
}

.product-name {
  font-size: 18px;
  margin-bottom: 4px;
}

.product-brand {
  font-size: 14px;
  color: #888;
}

.priceandno {
  display: flex;
  /* flex-grow: 2; */
  width: 38%;
  flex-direction: column;
  /* align-items: center; Center align items horizontally */
  /* justify-content: center; Center align items vertically */
}

.product-price {
  font-size: 18px;
  margin-bottom: 4px;
}

.product-no {
  font-size: 14px;
  color: #888;
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
}

.button_com {
  flex-grow: 0;
  display: flex;
  align-items: center;
}

.button_com button {
  margin-right: 8px;
}

.button_com button:last-child {
  margin-right: 0;
}
