.title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.container_profile {
  display: flex;
  /* align-items: center; */
  margin: 10px;
}

.image {
  flex: 1;
  text-align: center;
}

.image img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  /* margin-bottom: 10px; */
  margin: 120px 50px;
}

.image hr {
  margin: 10px 0;
}

.image .choose {
  display: block;
  margin: 10px auto;
}

.info {
  flex: 2;
  padding: 20px;
}

.name,
.email {
  font-size: 18px;
  margin-bottom: 20px;
}

.button_com {
  display: flex;
  /* justify-content: center; */
}

.button_com IconButton {
  margin: 0 5px;
}

.btn_1 {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn_1:hover {
  background-color: #0056b3;
}

.form-input {
  font-size: 18px;
}

.password {
  display: flex;
  /* justify-content: space-between; */
  gap: 50px;
  align-items: center;
}

/* Add your CSS styles here */
.update_btn {
  background-color: #000000; /* Green background color */
  color: white; /* Text color */
  padding: 10px 20px; /* Add padding to the button */
  border: none; /* Remove border */
  border-radius: 4px; /* Add border radius */
  font-size: 16px; /* Set font size */
  cursor: pointer; /* Add a pointer cursor on hover */
  transition: background-color 0.3s ease; /* Add smooth transition effect */
  height: 40px;
}

.update_btn:hover {
  background-color: #2b2b2b; /* Darker green color on hover */
}
